/* Set body background color to black and text color to white */
body {
    background-color: #353535;
    color: #ffffff;
    font-family: sans-serif;
  }
  
  /* Set links to light blue and remove underlines */
  a {
    color: #ffffff;
    text-decoration: none;
  }
  /* Style headings */
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
  }